@page
@model BookFakeApiWebUI.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Book List";
}

<h2>Books List</h2>


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>PageCount</th>
                <th>Excerpt</th>
                <th>PublishDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books) 
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Description</td>
                    <td>@book.PageCount</td>
                    <td>@book.Excerpt</td>
                    <td>@book.PublishDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@book.Id">Details</a>
                        <a asp-page="./Edit" asp-route-id="@book.Id">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@book.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
